<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managed Users</title>
    <link rel="stylesheet" href="../static/css/managed.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../static/js/managed.js" defer></script>
</head>
<body>
    <div id="app">
        <h1>Managed Users</h1>
        <div v-if="errorMessage" class="error-message">{{ errorMessage }}</div>
        <table v-else>
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.username">
                    <td>
                        <div class="thumbnail">
                            <img :src="user.thumbnail" alt="Profile Picture" v-if="user.thumbnail">
                            <div class="thumbnail-placeholder" v-else></div>
                        </div>
                    </td>
                    <td><a :href="getBaseURL() + '/' + user.username + '/profile'">{{ user.username }}</a></td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
