body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info h2, .profile-info h3, .update-manager h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info .profile-section {
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 16px;
    margin: 5px 0;
}

.profile-info a {
    color: #007bff;
    text-decoration: none;
}

.profile-info a:hover {
    text-decoration: underline;
}

.update-manager {
    margin-top: 20px;
    
}

.update-manager input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.update-manager button {
    padding: 10px 20px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.update-manager button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.update-manager form {
    display: flex;
    flex-direction: column;
}

.update-manager label {
    margin-bottom: 5px;
}

.update-manager input[type="email"] {
    margin-bottom: 10px;
}

.update-manager .button-group {
    display: flex;
    gap: 10px;
}

.thumbnail img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #5a5a5a;
}

.thumbnail-placeholder {
    width: 100px;
    height: 100px;
    background-color: #5a5a5a;
    border-radius: 50%;
    border: 2px solid #5a5a5a;
}
